
Src/Client/.vscode/settings.json
Src/Client/Assembly-CSharp-Editor.csproj
Src/Client/Assembly-CSharp.csproj
Src/Client/Assets/Models/*
Src/Client/Assets/UI/*
Src/Client/Library/*
Src/Client/Obj/*
Src/Client/Logs/*
Src/Client/Temp/*
Src/Client/mmo_client.sln
Src/Client/Assets/UI.meta
*.sln
